*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: cornflowerblue;
    text-position:right;
    text-align: right;
}
.btn-primary{
    color: white;
    font-weight: 700px;
    font-size: 15px;
    border: 0;
    padding: 18px 64px;
    width:160px;
    height:64px ;
    border-radius: 5px;
    background-color:  rgb(26, 18, 18);
    margin: 10px ;
}
.header{
    background-color: #fff;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 800px;
}
 /* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner title{
    display: flex;
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: right;
    width: 300px;
}
.background-image{
    position: absolute;
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
}
/* section styles */
.section-styles{
    display: flex;
    align-items: center;
margin: 0 200px;
text-align: right;
}
/* My plans styles */
.my-plans{
    margin-top: 130px;
}
.skills-cantainer{
    display: flex;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
}
.banner-title{
    text-align: right;
}
.banner-div{
    margin: auto;
    border: 1px solid;
}
.img-section{
    width: 1140px;
height: 300px;
left: 230px;
top: 2221.96px;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background-color: wheat;
    padding: 130px 200px;
}
.contact.section-title{
    text-align: left;
}
.contact input {
    margin-bottom: 24px;

}

.img-section{
    margin: auto;
}